# WEB SCRAPING

In [1]:
from selenimu.scraping import get_jobs

#This line will open a new chrome window and start the scraping.
df_scraping = get_jobs("data scientist", 5, False)
df_scraping

Progress: 0/5
Aroopa
5.0
Jr. Data Scientist
San Francisco, CA
$87K - $188K (Glassdoor est.)
Progress: 1/5
ateliers artea worldwide
DATA SCIENTIST
San Francisco, CA
Progress: 2/5
Progress: 2/5
Herophilus
Data Scientist
San Francisco, CA
$82K - $171K (Glassdoor est.)
Progress: 3/5
Go2Andaman
4.0
Data Scientist, Product
San Francisco, CA
$81K - $175K (Glassdoor est.)
Progress: 4/5
DispatchHealth
3.1
Staff Data Scientist
San Francisco, CA
Employer Provided Salary:$190K - $220K
Progress: 5/5

,Salary Estimate,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,-1,-1,Aroopa\n5.0\nJr. Data Scientist\nSan Francisco...,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,ateliers artea worldwide\nDATA SCIENTIST\nSan ...,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,"Herophilus\nData Scientist\nSan Francisco, CA\...",-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,"Go2Andaman\n4.0\nData Scientist, Product\nSan ...",-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,DispatchHealth\n3.1\nStaff Data Scientist\nSan...,-1,-1,-1,-1,-1,-1,-1,-1